{% extends 'RythmDcmrBundle::index.html.twig' %}

{% block content %}
    <h2>DCMR Milieudienst Rijnmond</h2><h4>De DCMR werkt voor bewoners, bedrijven en de overheid.</h4><p>Ruim 1,2 miljoen bewoners van het Rijnmondgebied kunnen bij ons 24 uur per dag hun milieuklachten kwijt, maar ook vragen stellen over het milieu in het gebied. Meer dan 22.000 bedrijven vragen bij ons hun vergunning aan. Sommigen krijgen een vergunning op maat, anderen hoeven slechts hun activiteiten te melden. Ook neemt DCMR met zijn milieuexpertise deel in projecten in binnen- en buitenland.</p><h4>Historie</h4><p>De feitelijke oprichting van de DCMR dateert van 1971. De toenmalige Rijnmondraad besloot in dat jaar, gelet op de grote concentratie van milieubelastende activiteiten in een verstedelijkt gebied, tot oprichting van de Dienst Centraal Milieubeheer Rijnmond. </p><p>Tussen de verschillende vormen van milieubelasting bestaat in het gebied een belangrijke samenhang, enerzijds vanwege cumulatieve effecten, anderzijds doordat de milieubelastingen vaak zijn terug te voeren op dezelfde bedrijfssectoren. Een gezamenlijke inspanning, waarbij provincie en gemeenten samenwerken, is voor de aanpak van de milieubelasting noodzakelijk. </p>
{% endblock %}
