{% extends 'RythmDcmrBundle::index.html.twig' %}

{% block content %}
    <h2>FAQ</h2>
    <div class="section-container accordion" data-section="accordion">
      <section>
        <p class="title" data-section-title><a href="#">Wat is het doel van deze site?</a></p>
        <div class="content" data-section-content>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu ligula vel augue porttitor dapibus. Donec dapibus neque ut vestibulum tristique. Quisque eget mauris in nibh adipiscing varius. Vestibulum consequat purus ut aliquet tincidunt. Quisque vitae tristique odio. Fusce turpis elit, hendrerit euismod felis sed, placerat vestibulum lorem. Cras non est feugiat, auctor metus eget, ornare enim. Nullam vestibulum eget leo nec tempus. Suspendisse eleifend, nisi ut ornare sodales, felis felis malesuada arcu, quis blandit lectus sapien lobortis nulla. Mauris tincidunt leo id libero rutrum dapibus. Donec eget eleifend ligula, ut lobortis justo.
          </p>
          <p>
          Duis a ante pretium, facilisis dui et, rutrum lectus. Suspendisse vestibulum neque orci, eu interdum nisi eleifend eget. Sed a neque aliquam, posuere nibh et, mattis tellus. Integer placerat vitae nibh vitae ultricies. Aliquam eget lobortis libero, eu fringilla tellus. Proin id felis risus. Donec eget malesuada odio, in rhoncus magna. Quisque condimentum, arcu non feugiat faucibus, ante arcu tincidunt mauris, in bibendum nisl neque vitae est. Duis sodales nisl eu fringilla tempus.
          </p>
        </div>
      </section>
      <section>
        <p class="title" data-section-title><a href="#">Welke data kan ik allemaal bekijken?</a></p>
        <div class="content" data-section-content>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu ligula vel augue porttitor dapibus. Donec dapibus neque ut vestibulum tristique. Quisque eget mauris in nibh adipiscing varius. Vestibulum consequat purus ut aliquet tincidunt. Quisque vitae tristique odio. Fusce turpis elit, hendrerit euismod felis sed, placerat vestibulum lorem. Cras non est feugiat, auctor metus eget, ornare enim. Nullam vestibulum eget leo nec tempus. Suspendisse eleifend, nisi ut ornare sodales, felis felis malesuada arcu, quis blandit lectus sapien lobortis nulla. Mauris tincidunt leo id libero rutrum dapibus. Donec eget eleifend ligula, ut lobortis justo.
          </p>
          <p>
          Duis a ante pretium, facilisis dui et, rutrum lectus. Suspendisse vestibulum neque orci, eu interdum nisi eleifend eget. Sed a neque aliquam, posuere nibh et, mattis tellus. Integer placerat vitae nibh vitae ultricies. Aliquam eget lobortis libero, eu fringilla tellus. Proin id felis risus. Donec eget malesuada odio, in rhoncus magna. Quisque condimentum, arcu non feugiat faucibus, ante arcu tincidunt mauris, in bibendum nisl neque vitae est. Duis sodales nisl eu fringilla tempus.
          </p>
        </div>
      </section>
      <section>
        <p class="title" data-section-title><a href="#">Is de data openbaar en verkrijgbaar?</a></p>
        <div class="content" data-section-content>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu ligula vel augue porttitor dapibus. Donec dapibus neque ut vestibulum tristique. Quisque eget mauris in nibh adipiscing varius. Vestibulum consequat purus ut aliquet tincidunt. Quisque vitae tristique odio. Fusce turpis elit, hendrerit euismod felis sed, placerat vestibulum lorem. Cras non est feugiat, auctor metus eget, ornare enim. Nullam vestibulum eget leo nec tempus. Suspendisse eleifend, nisi ut ornare sodales, felis felis malesuada arcu, quis blandit lectus sapien lobortis nulla. Mauris tincidunt leo id libero rutrum dapibus. Donec eget eleifend ligula, ut lobortis justo.
          </p>
          <p>
          Duis a ante pretium, facilisis dui et, rutrum lectus. Suspendisse vestibulum neque orci, eu interdum nisi eleifend eget. Sed a neque aliquam, posuere nibh et, mattis tellus. Integer placerat vitae nibh vitae ultricies. Aliquam eget lobortis libero, eu fringilla tellus. Proin id felis risus. Donec eget malesuada odio, in rhoncus magna. Quisque condimentum, arcu non feugiat faucibus, ante arcu tincidunt mauris, in bibendum nisl neque vitae est. Duis sodales nisl eu fringilla tempus.
          </p>
        </div>
      </section>
      <section>
        <p class="title" data-section-title><a href="#">Mijn woonplaats kan niet gevonden worden</a></p>
        <div class="content" data-section-content>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu ligula vel augue porttitor dapibus. Donec dapibus neque ut vestibulum tristique. Quisque eget mauris in nibh adipiscing varius. Vestibulum consequat purus ut aliquet tincidunt. Quisque vitae tristique odio. Fusce turpis elit, hendrerit euismod felis sed, placerat vestibulum lorem. Cras non est feugiat, auctor metus eget, ornare enim. Nullam vestibulum eget leo nec tempus. Suspendisse eleifend, nisi ut ornare sodales, felis felis malesuada arcu, quis blandit lectus sapien lobortis nulla. Mauris tincidunt leo id libero rutrum dapibus. Donec eget eleifend ligula, ut lobortis justo.
          </p>
          <p>
          Duis a ante pretium, facilisis dui et, rutrum lectus. Suspendisse vestibulum neque orci, eu interdum nisi eleifend eget. Sed a neque aliquam, posuere nibh et, mattis tellus. Integer placerat vitae nibh vitae ultricies. Aliquam eget lobortis libero, eu fringilla tellus. Proin id felis risus. Donec eget malesuada odio, in rhoncus magna. Quisque condimentum, arcu non feugiat faucibus, ante arcu tincidunt mauris, in bibendum nisl neque vitae est. Duis sodales nisl eu fringilla tempus.
          </p>
        </div>
      </section>
      <section>
        <p class="title" data-section-title><a href="#">Waar kan ik terecht met een klacht?</a></p>
        <div class="content" data-section-content>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu ligula vel augue porttitor dapibus. Donec dapibus neque ut vestibulum tristique. Quisque eget mauris in nibh adipiscing varius. Vestibulum consequat purus ut aliquet tincidunt. Quisque vitae tristique odio. Fusce turpis elit, hendrerit euismod felis sed, placerat vestibulum lorem. Cras non est feugiat, auctor metus eget, ornare enim. Nullam vestibulum eget leo nec tempus. Suspendisse eleifend, nisi ut ornare sodales, felis felis malesuada arcu, quis blandit lectus sapien lobortis nulla. Mauris tincidunt leo id libero rutrum dapibus. Donec eget eleifend ligula, ut lobortis justo.
          </p>
          <p>
          Duis a ante pretium, facilisis dui et, rutrum lectus. Suspendisse vestibulum neque orci, eu interdum nisi eleifend eget. Sed a neque aliquam, posuere nibh et, mattis tellus. Integer placerat vitae nibh vitae ultricies. Aliquam eget lobortis libero, eu fringilla tellus. Proin id felis risus. Donec eget malesuada odio, in rhoncus magna. Quisque condimentum, arcu non feugiat faucibus, ante arcu tincidunt mauris, in bibendum nisl neque vitae est. Duis sodales nisl eu fringilla tempus.
          </p>
        </div>
      </section>
    </div>
{% endblock %}
