{% extends 'RythmDcmrBundle::index.html.twig' %}

{% block content %}
    <h2 class="maintitle">{{ city|capitalize }}</h2>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
    <script type="text/javascript">
      var map;
      var infowindow;
      var polys = [];

      function initialize() {
        var rotterdam = new google.maps.LatLng(51.9231665, 4.4786341);

        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: new google.maps.LatLng(51.9231665, 4.4786341),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        addPoly();

        infowindow = new google.maps.InfoWindow();

        var removeBtn = document.getElementById("removeBtn");
        google.maps.event.addDomListener(removeBtn, "click", onRemoveBtn_Clicked);

        var showBtn = document.getElementById("showBtn");
        google.maps.event.addDomListener(showBtn, "click", onShowBtn_Clicked);


      }

      function onRemoveBtn_Clicked() {
        var i;
        for (i = 0; i < polys.length; i++) {
          polys[i].setMap(null);
        }
      }

      function onShowBtn_Clicked() {
        var i;
        for (i = 0; i < polys.length; i++) {
          polys[i].setMap(map);
        }
      }



      function addPoly() {
        var rotterdampoly1 = [
          new google.maps.LatLng(51.9066239, 4.4735769),
          new google.maps.LatLng(51.9123386, 4.4629524),
          new google.maps.LatLng(51.9192554, 4.4681015),
          new google.maps.LatLng(51.9204766, 4.4713909),
          new google.maps.LatLng(51.9250025, 4.471982),
          new google.maps.LatLng(51.931227, 4.4667805),
          new google.maps.LatLng(51.9249544, 4.4623876),
          new google.maps.LatLng(51.9262275, 4.4585522),
          new google.maps.LatLng(51.9229348, 4.461615),
          new google.maps.LatLng(51.9263205, 4.4409145),
          new google.maps.LatLng(51.9221259, 4.4435324),
          new google.maps.LatLng(51.9147747, 4.4437449),
          new google.maps.LatLng(51.9079896, 4.4585947)

        ];

        poly1 = new google.maps.Polygon({
          paths: rotterdampoly1,
          strokeColor: "#04c716",
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: "#04c716",
          fillOpacity: 0.35
        });

        polys.push(poly1);

        poly1.setMap(map);
        infolocation1 = new google.maps.LatLng(51.9192438, 4.4597577);
        google.maps.event.addListener(poly1, 'click', function() {
          infowindow.setContent('Bodem Schoon');
          infowindow.setPosition(infolocation1);
          infowindow.open(map);
          console.log('test');

        });

        var rotterdampoly2 = [
          new google.maps.LatLng(51.9066239, 4.4735769),
          new google.maps.LatLng(51.9079823, 4.4748718),
          new google.maps.LatLng(51.9103973, 4.4756512),
          new google.maps.LatLng(51.9082168, 4.4796193),
          new google.maps.LatLng(51.9111232, 4.4788485),
          new google.maps.LatLng(51.9107305, 4.4815451),
          new google.maps.LatLng(51.9147745, 4.4814201),
          new google.maps.LatLng(51.9182199, 4.4782835),
          new google.maps.LatLng(51.9223459, 4.4771388),
          new google.maps.LatLng(51.931227, 4.4667805),
          new google.maps.LatLng(51.9250025, 4.471982),
          new google.maps.LatLng(51.9204766, 4.4713909),
        ];

        poly2 = new google.maps.Polygon({
          paths: rotterdampoly2,
          strokeColor: "#ff0000",
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: "#ff0000",
          fillOpacity: 0.35
        });

        polys.push(poly2);

        poly2.setMap(map);

        infolocation2 = new google.maps.LatLng(51.9173367, 4.4756558);
        google.maps.event.addListener(poly2, 'click', function() {
          infowindow.setContent('Zwaar verontreinigd');
          infowindow.setPosition(infolocation2);
          infowindow.open(map);
        });

        var rotterdampoly3 = [
          new google.maps.LatLng(51.9066239, 4.4735769),
          new google.maps.LatLng(51.9079896, 4.4585947),
          new google.maps.LatLng(51.9147747, 4.4437449),
          new google.maps.LatLng(51.9221259, 4.4435324),
          new google.maps.LatLng(51.9186705, 4.4341708),
          new google.maps.LatLng(51.9059736, 4.4436099),
          new google.maps.LatLng(51.9012352, 4.456976)


        ];

        poly3 = new google.maps.Polygon({
          paths: rotterdampoly3,
          strokeColor: "#fffc00",
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: "#fffc00",
          fillOpacity: 0.35
        });

        polys.push(poly3);

        poly3.setMap(map);

        infolocation3 = new google.maps.LatLng(51.908047, 4.4488419);
        google.maps.event.addListener(poly3, 'click', function() {
          infowindow.setContent('Licht verontreinigd');
          infowindow.setPosition(infolocation3);
          infowindow.open(map);
        });

        var rotterdampoly4 = [
          new google.maps.LatLng(51.9066239, 4.4735769),
          new google.maps.LatLng(51.9123386, 4.4629524),
          new google.maps.LatLng(51.9192554, 4.4681015),
          new google.maps.LatLng(51.9204766, 4.4713909)
        ];

        poly4 = new google.maps.Polygon({
          paths: rotterdampoly4,
          strokeColor: "#fffc00",
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: "#fffc00",
          fillOpacity: 0.35
        });

        polys.push(poly4);

        poly4.setMap(map);

        infolocation4 = new google.maps.LatLng(51.9136449, 4.4679109);
        google.maps.event.addListener(poly4, 'click', function() {
          infowindow.setContent('Licht verontreinigd');
          infowindow.setPosition(infolocation4);
          infowindow.open(map);
        });


      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <style type="text/css">
      code.prettyprint {
        display: block;
        border: 1px solid #ccc;
        margin-bottom: 1em;
      }
    </style>
    <div id="map"></div>
    <div id="tabs_container">

      <ul class="tabs">
        <li class="active">
          <a href="#" rel="#tab_1_contents" class="tab">Lucht</a>
        </li>
        <li><a href="#" rel="#tab_2_contents" class="tab">Bodem</a></li>
        <li><a href="#" rel="#tab_3_contents" class="tab">Klachten</a></li>
        <li><a href="#" rel="#tab_4_contents" class="tab">Geluid</a></li>
      </ul>

      <div class="clear"></div>

      <div class="tab_contents_container">

        <div id="tab_1_contents" class="tab_contents tab_contents_active">
          <div id="g1"><span data-tooltip class="has-tip" title="Stikstofmonoxide reageert in de lucht met bijvoorbeeld Ozon waardoor het Stikstofdioxide wordt.">Stikstofmonoxide</span></div>
          <div id="g2"><span data-tooltip class="has-tip" title="De grenswaarde voor stikstofdioxide (NO2) bedraagt 40 µg/m3 als jaargemiddelde.">Stikstofdioxide</span></div>
          <div id="g3"><span data-tooltip class="has-tip" title="De grenswaarden voor SO2 zijn vooral gericht op bescherming van de bevolking tegen kortdurende blootstelling aan hoge concentraties: een daggemiddelde concentratie van 125 µg/m3 mag slechts drie keer per jaar voorkomen. Dat is 0,8% van de tijd en wordt uitgedrukt als 99,2-percentiel. Een uurgemiddelde van 350 µg/m3 mag 24 keer per jaar voorkomen (99,7-percentiel).">Zwaveldioxide</span>
          </div>
          <br />
          <div id="g4"><span data-tooltip class="has-tip" title="Ozon (O3) is een gas dat niet direct in de lucht wordt geëmitteerd. In aanwezigheid van zonlicht wordt ozon gevormd uit een chemische reactie tussen stikstofoxiden (NOx) en vluchtige organische stoffen (VOS). Hoewel het dezelfde chemische structuur heeft, is het afhankelijk van de plaats of het ozon goed of slecht is.">Ozon</span></div>
          <div id="g5"><span data-tooltip class="has-tip" title="De grenswaarde voor benzeen is 5 µg/m3 als jaargemiddelde.">Benzeen</span></div>
          <div id="g6"><span data-tooltip class="has-tip" title="Voor Tolueen is geen grenswaarde opgesteld. De voornaamste bronnen zijn de verbranding of verdamping van brandstoffen of de verdamping van oplosmiddelen.">Tolueen</span></div>

          <p><br/><br/>Alle waardes zijn in µg/m3.</p>


          <h3>Achtergrond informatie</h3>
          <p>De meetlocaties liggen meestal in de buurt van mogelijke bronnen die luchtverontreiniging kunnen veroorzaken. U moet hierbij denken aan de industrie en rijkswegen. Als gevolg van deze locatiekeuze, geven de meetresultaten geen gemiddeld beeld van de luchtkwaliteit. In een groot deel van het Rijnmondgebied zal de lucht schoner zijn dan op de meetlocaties.</p>
        </div>

        <div id="tab_2_contents" class="tab_contents">
          <h3>Achtergrond informatie</h3>

          <p>Door de DCMR en verschillende andere organisaties in Nederland worden regelmatig op verschillende plaatsen in het DCMR gebied metingen van de bodem uitgevoerd. Door op de linker knop hierboven te drukken krijgt u de status van de bodem in uw omgeving te zien. Door op een gebied te klikken kunt u meer informatie inzien over het wat en waarom van de status. Het is ook belangrijk om de info bij een status goed te lezen. Een zwaar verontreinigde grond hoeft namelijk niet direct tot een gezondheidsrisico behoren.</p>

          <input type="button" class="button success" id="showBtn" value="Bekijk op de kaart" />
          <input type="button" class="button alert" id="removeBtn" value="Verberg op de kaart" />
        </div>

        <div id="tab_3_contents" class="tab_contents">
          <div>
            <svg id="chart1"></svg>
          </div>
        </div>
        <div id="tab_4_contents" class="tab_contents">
          <div id="svg2">
        </div>
        </div>

      </div>
    </div>

    <script>
      var g1,g2,g3,g4,g5,g6;

      window.onload = function(){
        var g1 = new JustGage({
          id: "g1",
          value: 14,
          min: 0,
          max: 100,
          title: " ",
        });
        var g2 = new JustGage({
          id: "g2",
          value: 44,
          min: 0,
          max: 100,
          title: " ",
        });
        var g3 = new JustGage({
          id: "g3",
          value: 11,
          min: 0,
          max: 35,
          title: " ",
        });
        var g4 = new JustGage({
          id: "g4",
          value: 60,
          min: 0,
          max: 250,
          title: " ",
        });
        var g5 = new JustGage({
          id: "g5",
          value: 1.2,
          min: 0,
          max: 50,
          title: " ",
        });
        var g6 = new JustGage({
          id: "g6",
          value: 3,
          min: 0,
          max: 50,
          title: " ",
        });


      };

    </script>
    <script>
        var map;
        function initialize() {
          var mapOptions = {
            zoom: 12,
            center: new google.maps.LatLng(51.924216, 4.481776),
            mapTypeId: google.maps.MapTypeId.ROADMAP
          };
          map = new google.maps.Map(document.getElementById('map'),
              mapOptions);
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}
