<form action="#">
    <div class="row">
    <div class="large-12 columns">
    <h2> Zoeken</h2><br/>
      <div class="row collapse">
        <div class="small-10 columns">
          <input type="text" placeholder="Zoek jouw woonplaats">
        </div>
        <div class="small-2 columns">
          <a href="#" class="button prefix success">Zoeken</a>
        </div>
      </div>
    </div>
</div>
</form>
