<h2>Snel Zoeken</h2>
<ul class="fastsearch">
    <li><a href="{{ path('rythm_dcmr_location', {'city' : 'rotterdam'}) }}">Rotterdam</a></li>
    <li><a href="{{ path('rythm_dcmr_location', {'city' : 'schiedam'}) }}">Schiedam</a></li>
    <li><a href="{{ path('rythm_dcmr_location', {'city' : 'schiebroek'}) }}">Schiebroek</a></li>
    <li><a href="{{ path('rythm_dcmr_location', {'city' : 'spijkenisse'}) }}">Spijkenisse</a></li>
    <li><a href="{{ path('rythm_dcmr_location', {'city' : 'vlaardingen'}) }}">Vlaardingen</a></li>
</ul>
