{% set resources = 'bundles/rythmdcmr/' %}
<!DOCTYPE html>
<!--[if IE 8]>               <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
    <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>De stand van Rijnmond</title>

  <link rel="stylesheet" href="{{asset(resources)}}css/normalize.css" />
  <link rel="stylesheet" href="{{asset(resources)}}css/foundation.css" />
  <link rel="stylesheet" href="{{asset(resources)}}css/site.css" />
  <link rel="stylesheet" type="text/css" href="{{asset(resources)}}css/jquery.svg.css">
  <link rel="stylesheet" type="text/css" href="{{asset(resources)}}css/css.css"/>
  <link rel="stylesheet" type="text/css" href="{{asset(resources)}}css/style.css">
  <link href="{{asset(resources)}}css/nv.d3.css" rel="stylesheet" type="text/css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

  <script src="{{asset(resources)}}js/foundation.min.js"></script>
  <script src="{{asset(resources)}}js/vendor/zepto.js"></script>
  <script src="{{asset(resources)}}js/foundation.section.js"></script>
  <script src="{{asset(resources)}}js/foundation.tooltips.js"></script>
  <script src="{{asset(resources)}}js/raphael.2.1.0.min.js"></script>
  <script src="{{asset(resources)}}js/justgage.1.0.1.min.js"></script>
  <script src="{{asset(resources)}}js/d3.v2.js"></script>
  <script src="{{asset(resources)}}js/nv.d3.js"></script>
  <script src="{{asset(resources)}}js/stackedAreaChart.js"></script>
  <script src="{{asset(resources)}}js/custom.js"></script>

  <script src="{{asset(resources)}}js/jquery.svg.js"></script>
  <script src="{{asset(resources)}}js/jquery.svganim.js"></script>
  <script src="{{asset(resources)}}js/js.js"></script>

  <script src="{{asset(resources)}}js/vendor/custom.modernizr.js"></script>

</head>
<body>

    <header>
            <a href="{{ path('rythm_dcmr_homepage') }}"><h1>De stand van rijnmond</h1></a>
    </header>
    <nav>
      <ul>
        <li><a href="{{ path('rythm_dcmr_about') }}">over DCMR</a></li>
        <li><a href="{{ path('rythm_dcmr_complaint') }}">klacht indienen</a></li>
        <li><a href="{{ path('rythm_dcmr_faq') }}">f.a.q.</a></li>
        <li><a href="{{ path('rythm_dcmr_contact') }}">contact</a></li>
      </ul>
    </nav>

    <div class="row">
      <div class="large-8 columns">
        {% block content %}
        <div id="container">
        <div id="svg">
        </div>
        </div>
        {% endblock %}
      </div>
      <div class="large-4 columns sidebar">
        {% include 'RythmDcmrBundle:Snippets:search.html.twig' %}
        {% include 'RythmDcmrBundle:Snippets:searchFast.html.twig' %}
      </div>
    </div>

    <div class="row">
      <div class="footer">
        <div class="large-6 columns">
          <p>
            home&nbsp;&nbsp;|&nbsp;&nbsp;over dcmr&nbsp;&nbsp;|&nbsp;&nbsp;klacht indienen&nbsp;&nbsp;|&nbsp;&nbsp;f.a.q.&nbsp;&nbsp;|&nbsp;&nbsp;contact</p>
        </div>
        <div class="large-6 columns">
          <p>copyright 2013 &copy; dcmr.nl</p>
        </div>
      </div>
    </div>

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? '{{asset(resources)}}js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>

  <script>
    $(document).foundation('tooltips section', {}, function (response) {
      console.log(response);
    });
  </script>
</body>
</html>
