/* 
    Document   : css
    Created on : 20-mei-2013, 17:18:38
    Author     : MaxVerhoeven
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
  
}
*{
    margin:0;
    padding:0;
}


#svg2
{

    height:600px;
    width:100%;
  
    overflow: hidden;
}
#svg
{

    height:700px;
    width:100%;
    
    overflow: hidden;
}

.gemeente
{
    cursor: pointer;
}

text
{
    -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
   cursor: pointer;
   pointer-events: none;
}