/**************
Fonts
***************/
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

h1, h2, h3, h4, h5, nav {
    font-family: 'Josefin Slab', serif;
}

p {
    font-family: 'Open Sans', serif;
}

/**************
Header
***************/
header {
    background: #d8ddd9;
    padding: 20px 0 0 0;
    text-align: center;
}

header h1 {
    width: 512px;
    height: 107px;
    text-indent: -9999999px;
    white-space: nowrap;
    background: url('../img/logo.png');
    background-repeat: no-repeat;
    display:inline-block;
    margin-bottom: 40px;
}

nav {
    width: 100%;
    height: 60px;
    background: url('../img/navbg.png');
    background-repeat: repeat-x;
    text-align: center;
    margin-top: -10px;
    margin-bottom:50px;
}

nav ul {
    margin: 0;
    padding-top: 10px;
}

nav li {
    display: inline-block;
    margin: 0 15px;
}

nav a {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
}

nav a:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
}

/**************
Sidebar
***************/
.sidebar {
    padding-top: 57px;
}

.sidebar h2 {
    border-bottom: 2px solid #444;
    margin-bottom: 0;
    font-size: 24px;
}

.fastsearch {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.fastsearch li {
    padding: 10px;
    padding-left: 20px;
    border-bottom: 1px solid #444;
    font-size: 18px;
    font-weight: 300;
}

/**************
Location
***************/
.maintitle {
    margin-bottom: 0;
}

#map {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}

#svg2 text,
#svg text {
    font-size: 20px !important;
}

.has-tip {
    font-size: 18px;
    text-align: center;
    display: inline-block;
    width: 100%;
    border: none;
}

.tooltip {
    max-width: 200px;
}

/**************
Complaint
***************/
.complaint {
    border:none;
    margin: 0 auto;
    display: inline-block;
}

/**************
Footer
***************/
.footer-fixed {
    position: fixed;
    bottom: 0;
    left: auto;
    margin:0 auto;

}
.footer {
    background: #42474b;
    margin-top: 50px;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    width: 100%;
    height: 40px;
    padding: 10px;
}

.footer .columns:last-child p{
    text-align: right;
}
