#g1, #g2, #g3 {
  width:200px; height:160px;
  display: inline-block;
  margin: 1em;
}
#g4, #g5, #g6 {
  width:200px; height:160px;
  display: inline-block;
  margin: 1em;
}

p {
  display: block;
  text-align: left;
}
a:active {
  outline: none;
}
a:focus {
  -moz-outline-style: none;
}
#tabs_container {
  width: 700px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
#tabs_container ul.tabs {
  list-style: none;
  border-bottom: 1px solid #ccc;
  height: 33px;
  margin: 0;
}
#tabs_container ul.tabs li {
  float: left;
}
#tabs_container ul.tabs li a {
  padding: 3px 25px;
  display: block;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-right: 10px;
  text-decoration: none;
  background-color: #efefef;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  color:#000;
  font-size: 16px;
}
#tabs_container ul.tabs li.active a, #tabs_container ul.tabs li:hover a {
  background-color: #fff;
  padding-top: 4px;
}
div.tab_contents_container {
  border-top: none;
  padding: 10px;
}
div.tab_contents {
  display: none;
}
div.tab_contents_active {
  display: block;
}
div.clear {
  clear: both;
  }
  #chart1{
    height: 420px;
  }
